# Node.js
node_modules/

# Build output
/dist/
/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed

# Sockets
*.sock

# Dependency directory
package-lock.json

# Optional npm cache directory
.npm

# Environment variables
.env
